# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-V2KPsNW6BhhI9047
OWNER_NUMBER=234XXXXXXXXXX
WORKTYPE=private
PREFIX=.
TIMEZONE=Africa/Lagos
OWNER_NAME=YourName
BOT_NAME=Kord
